
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="background: black;">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none text-white">
        Logo
      </a>
      <p class="text-white">© 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5 class="text-white">conteúdo</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Pricing</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="text-white">Categorias</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Fale Conosco</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Como funciona</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Formas de envio </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Formas de pagamento</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Política de privacidade</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Sobre nós</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5 class="text-white">Atendimento</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Telefone: (86) 99953.0884</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Whatsapp: (86) 99953.0884</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">E-mail: vendas.anapaulacarvalhogmail.com</a></li>
      </ul>
    </div>
  </footer>


